
<div class= posts>
	<div class = userdeets>
	<div style = "background-image: url(uploads/{{this.OPpath}});" class = "OPpicture"></div>
	<p class = username>{{this.name}}</p>
	</div>
	<form method = "get" action = "/indivFAQ">
	<button class = "indivFAQ" name="question_id" value="{{this.question_id}}">
		{{this.title}}
	</button>
	</form>
	<p style="font-size: 20px; margin-top:10px; border-bottom: 1px, black;"> {{this.text}} </p>
	<div class = "container3" id = "{{this.question_id}}_commentlist">
		{{#if this.comment.answered}}
			{{> comment}}
		{{/if}}
		<div>
			<form action = "/submitcomment">
				<textarea rows = "5" cols = "42" style = "resize: none;" name="{{this.question_id}}_comment_text" id = "{{this.question_id}}_comment_text" required></textarea> <br>
				<input type="hidden" id="question_id" name="question_id" value="{{this.question_id}}">
				<input type="button" class = "commentB" id="commentB" value= "{{this.comment.status}}" name="commentB">
			</form>
		</div>
	</div>
</div>