<html>
	<head>
		<title>User Account Details</title>
		<link rel = "stylesheet" type = "text/css" href = "../css/otheruserstyles.css">
	</head>

	<body>
		{{> navbar}}

		<div id = userdetails style = "background-image: url({{u.bgpath}}); background-size: auto">
			<div id = usercontainer1>
				<div id = useravatar style = "background-image: url(uploads/{{u.path}});"></div>
				<div id = usertextcontainer>
					<div id = username>{{u.name}}</div>
					<div id = bio>{{u.bio}}</div>
					<div id = detailscontainer>
						<img src = "images/gps.png" class = detaillogos>
						<div style = "width: 200px; text-align: left">{{u.address}}</div>
					</div>
					<div id = detailscontainer>
						<img src = "images/phone.png" class = detaillogos>
						<div style = "width: 200px; text-align: left">{{u.contact}}</div>
					</div>
					<div id = detailscontainer>
						<img src = "images/email.png" class = detaillogos>
						<div style = "width: 200px; text-align: left"><a href = "https://mail.google.com/mail/u/0/#inbox?compose=new">{{u.email}}</a></div>
					</div>
					<div id = detailscontainer>
						<img src = "images/peso.png" class = detaillogos>
						<div style = "width: 200px; text-align: left">{{u.salary}}/month</div>
					</div>
					<div id = detailscontainer style = "padding-top: 50px; padding-bottom: 10px; margin: auto;">Certificate of Validity:</div>
					<div id = detailscontainer style = "height: 190px; background-image: url(uploads/{{u.certificate}}); background-size: cover; background-position: center; margin: auto;"></div>
				</div>
			</div>

			<div style = "width: 70%; min-height: 1900px;">
				<div id = userinfo  style = "background-color: #f1ce76; padding-top: 30px; padding-bottom: 15px;" >
					<div style = "display: flex; justify-content: center; height: 120px;">
						<img src = "images/doghouse.png" style = "height: 100px;">
						<div id = prevdogstitle> Homegiver To:</div>
					</div>
					<div id = prevdogscontainer>
						{{#each u.adopts}}
							<div id = prevdogbox style = "background-color: rgb(183, 220, 244, 0.8);">
								<div style = "background-size: cover; background-position: center; background-image: url(uploads/{{this.path}});" id = prevdogpic></div>
								<div id = prevdogname style = "background-image: url(images/bone.png); position: relative; top: 30px;">{{this.name}}</div>
								<div id = prevdogbuttons style = "padding-top: 40px; padding-left: 40px;">
									<form action="/adoption">
										<button name="postID" type="submit" value="{{this.post_id}}">View Post</button>
									</form>
								</div>
							</div>
						{{/each}}
					</div>
				</div>
				<div id = userinfo style = "position: relative; top: 30px; background-color: #c54b6c;">
					<div style = "display: flex; justify-content: center;">
						<img src = "images/rescue.png" style = "height: 150px;">
						<div id = prevdogstitle style = "padding-top: 50px; text-shadow: 2px 2px 0px #000000;">Dogs Up for Adoption:</div>
					</div>

					<div id = prevdogscontainer>
						{{#each u.posts}}
							{{#unless this.adoption_status}}
								<div id = prevdogbox style = "background-color: rgb(183, 220, 244, 0.8);">
									<div style = "background-image: url(uploads/{{this.path}}); background-size: cover; background-position: center;" id = prevdogpic></div>
									<div style = "position: relative; top: 30px;">
										<div id = prevdogname style = "background-image: url(images/bone.png);">{{this.name}}</div>
										<div id = prevdogbuttons style = "padding-left: 40px;">
											<form action="/adoption">
												<button name="postID" type="submit" value="{{this.post_id}}">View Post</button>
											</form>
										</div>
									</div>
								</div>
							{{/unless}}
						{{/each}}
					</div>
				</div>
			</div>
		</div>

		<div id = userquestions>
			<br><br><br>
			<div style = "display: flex; justify-content: center; background-color: #a1cdce;">
				<div><img src = "images/questions.png" style = "height: 150px; width: 200px;"></div>
				<div id = questionstitle>Submitted Questions: </div>
			</div>
			<div style = "background-color: #FBECDB; padding: 50px;">
				<div class = questioncontainer>
					{{#each u.questions}}
						<div class = questionusercontainer>
							<div class = questionpic style = "background-image: url(uploads/{{../u.path}}); background-size: cover; background-position: center;"></div>
							<div class = questionuserdetails>
								<div style = "padding: 10px;">
										<div class = qusername><a href = "/userpage">{{this.name}}</a></div>
									<div class = qusertext>
										<div>
											<div class = qadoptions>{{../u.adoptcount}} Adoptions</div>
											<div class = qrescues>{{../u.questions.length}} Questions</div>
										</div>
										<div><img src = "images/greencheck.png" style = "height: 30px; width: 40px; position: relative; top: 3px;"></div>
									</div>
								</div>
								<div class = questiontext>
									{{this.title}}
								</div>
							</div>
						</div>
						<form action="/indivFAQ">
							<div style = "margin-top: 20px;"><button type="submit" value="{{this.question_id}}" name="question_id">View Question</button></div>
						</form>
					{{/each}}
			</div>
		</div>
	</body>
</html>