<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="../css/Adoption.css">
	<title>Adoption</title>
</head>
<body>
	{{> navbar}}

	<div id="page_area">
		<div class="areas left" id="section1">
			<div class="area_content">
				<div id="caption">DOG INFORMATION</div>
				<div class="content">
					<div class="dogpic" style = "background-image: url(uploads/{{p.path}})"></div>

					<div class="content_text1 left" id="area1">
						<div class="text1"><span class="category">Name: </span> {{p.name}}</div>
						<div class="text1"><span class="category">Breed: </span> {{p.breed}}</div>
						<div class="text1"><span class="category">Sex: </span> {{p.sex}}</div>
						<div class="text1"><span class="category">Size: </span> {{p.size}}</div>
						<div class="text1"><span class="category">Age: </span> {{p.age}}</div>
						<div class="text1"><span class="category">Medical History: </span> {{p.medHistory}}</div>
					</div>

					<div class="content_text2 left">
						<div class="text2">Remarks</div>
						<p>{{p.remarks}}</p>
						<div class="text2" id="contact_gap">Poster's Contact Information</div>
						<div class="contact_info">
							<form method = "get" action = "/profile">
								<button class="user_icon" name="username" value="{{p.poster_id}}">
									<div class="display_pics" style = "background-image: url(uploads/{{p.poster_picture}});">
									</div>
								</button>
							</form>
							<p class="spacing">{{p.posternumber}}<br>
							{{p.posteremail}}<br>
							{{p.poster_address}}</p>
						</div>
					</div>

				</div>
			</div>
		</div>

		{{#if p.status}}
			<a target="_blank" class="buttonadopted">Adopted</a>
		{{else}}
			<form method = "get" action = "/adoptdog">
				<button class = "button_submit center" name="postID" type="submit" value="{{p.postid}}">Adopt Dog</button>
			</form>
		{{/if}}
	</div>

</body>
</html>