<!DOCTYPE html>
<html>
<head>
	<title>Edit Post</title>
	<link rel="stylesheet" type = "text/css" href="../css/EditPost.css">
</head>
<body>
	{{> navbar}}

	<p id = addpostheader> Edit your Post </p>

	<div class = container2>
		<div class = container>
			<form class = entries action = "/submiteditedpost" method = "post" enctype="multipart/form-data">
				<label> Name: </label>
				<input name = "name" type="text" class = place value="{{d.name}}"><br><br>
				<label> Breed: </label> 
				<input name = "breed" type="text" class = place value="{{d.breed}}"><br><br>
				<label> Sex:</label> 
				<input name = "sex" type="text" class = place value="{{d.sex}}"><br><br>
				<label> Size: </label>
				<input name = "size" type="text" class = place value="{{d.size}}"><br><br>
				<label> Age: </label>
				<input name = "age" type="text" class = place value="{{d.age}}"><br><br>
				<input type="file" name="image" accept="image/*"> <br><br>
				<label> Remarks: </label> <br>
				<textarea id = remarks name = "remarks">{{d.remarks}}</textarea><br><br>
				<button name="edit" type="submit" value="{{d.postid}}">Submit Edits</button>
			</form>
		</div>

		<img id = picofdog src ="uploads/{{d.path}}">
	</div>

</body>
</html>